@import "tailwindcss";

:root {
  --background: #1e1e1d;
  --foreground: #ededed;
}
@font-face {
  font-family: CenturyGothic;
  src: url("../static//font//CenturyGothic.ttf") format("ttf");
}
@theme {
  --color-primary: #A4ED8E;
  --color-secondary: #007CD7;
  --color-dark-ash-900: #0a0a09;
  --color-dark-ash-700: #1e1e1d;
  --color-dark-ash-500: #454544;
  --color-destructive: red;
  --font-century: CenturyGothic, sans-serif
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


.backgdrop-bg-filter {
  background-color: rgba(0, 134, 211, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
