@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --background: #454544;
  --foreground: #ededed;
} */
@font-face {
  font-family: CenturyGothic;
  src: url("../static//font//CenturyGothic.ttf") format("ttf");
  /* color: #141c2a */
}
@theme {
  --color-primary: #2E9511;
  --color-secondary: #007CD7;
  --color-dark-ash-900: #020617;
  --color-dark-ash-700: #141c2a;
  --color-dark-ash-500: #1e293b;
  --color-destructive: red;
  --font-century: CenturyGothic, sans-serif
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #454544;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
.webkit-sticky {
  position: -webkit-sticky;
  position: sticky;
}

/* gradient */
.styled-gradient {
background: linear-gradient(to right, white 60%, #2E9511 80%, #007CD7 100%);
}
/* gradient */
.blurry{
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  backdrop-filter: blur(10px);  
  }
/* intro animation */

.loader-ctn {
  animation: moveone 3s ease-in-out 1;
  transition: all;
  transform: scaleX(0);
}
.loader-ctn-2 {
  animation: movetwo 3s ease-in-out 1;
  transition: all;
  transform: scaleX(0);
}

@keyframes moveone {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: right;
    background-color: #f4d048;
  }
  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}

@keyframes movetwo {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #33347e;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
/* intro animation */


/* theme toggle */

.toggle-input:checked + .slider {
  background-color: #0a0a09;
}

.toggle-input:focus + .slider {
  box-shadow: 0 0 1px #0a0a09;
}

.toggle-input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.slider:before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* theme toggle */

/* right-left flare */
.bottom-flare-green {
  background:
linear-gradient(180deg, rgba(164, 237, 142, 0) 36.97%, #A4ED8E 100%);
}
.bottom-flare-blue {
  background:
linear-gradient(180deg, rgba(164, 237, 142, 0) 36.97%, #007CD7 100%);
}

.backdrop-bg-filter {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 5px;
}

@keyframes slideBounceIn {
  0% {
    transform: translateY(-200%) scaleX(0.1);
    opacity: 0;
  }
  100% {
    transform: translateY(0%) scaleX(1);
  }
}

.nav-into {
  animation: slideBounceIn 1s ease-out forwards;
  transform-origin: center top;
}
.backgdrop-bg-filter {
  background-color: rgba(0, 134, 211, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
